* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    background-image: linear-gradient(rgba(255, 228, 196, 0.8), rgba(0, 0, 0, 0.0.5)), url("/Images/my\ lovely\ restaurant.jpg");
}

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.023), rgba(0, 0, 0, 0.2)), url("/Images/Jollof\ Rice.jpg");
    background-color: wheat;
    color:#5271FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    text-align: center;
    text-size-adjust: 300px;
    font-size: 50px;
    text-decoration: solid;
    padding: auto;
    text-shadow: 5px 5px 10px gold;
    padding-bottom: 20px;
}

header button {
    background-color: #5271FF;
    color: white;
    padding: 17px;
    width: 250px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    border: none;
    border-radius: 20px;
}


section {
    background-color: wheat;
    background-size: cover;
    color: aliceblue;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.023), rgba(0, 0, 0, 0.2)), url("/Images/Jollof\ rice\ 2.jpg");
    font-size: medium;
    padding: auto;
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: wheat;
    background-size: cover;
    background-image: url("/Images/Restaurant.jpg");
    text-align: center;
    font-weight: lighter;
    text-decoration: underline;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 10px;
}
footer h3 {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}
footer a {
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: lighter;
}
p {
    color: whitesmoke;
}